

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Affiliated  Hotels</h1>
        <p class="lead text-muted">Discover the many brands all designed to meet the unique travel needs for guests around the world.</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../assets/images/itc-grand-central.jpg" alt="" srcset="">
            <div class="card-body">
              <h4> <b> ITC Grand Central </b></h4>
              <p class="card-text">Inspired by Victorian architecture of Old Bombay, this landmark hotel is situated in the business and recreational centre of Parel. The hotel offers breath-taking views of the city, award-winning cuisine, elegantly appointed rooms and suites, signature wellness experiences and more.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a  href="https://www.itchotels.com/in/en/itcgrandcentral-mumbai"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../assets/images/mumbai-four-seasons-hotel.jpg" alt="" srcset="">
            <div class="card-body">
              <h4> <b> Four Seasons Mumbai</b></h4>
              <p class="card-text">Towering above Mumbai’s upscale commercial hub, Four Seasons combines chic modern style with an intimate, boutique atmosphere and panoramic sea views. Discover our powerhouse collection of dining, spa and swimming experiences. Let our expert team connect you with local culture, shopping and entertainment. At day’s end, return to our rooftop AER – Bar and Lounge for sunset cocktails and mingling with Mumbai’s elite.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a  href="https://www.fourseasons.com/mumbai/"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../assets/images/StRegis.jpg" alt="" srcset="">
            <div class="card-body">
              <h4> <b>The St. Regis Mumbai</b></h4>
              <p class="card-text">Experience traditional elegance with a modern touch at The St. Regis Mumbai. Situated in Lower Parel, in Mumbai's tallest building, our 5-star hotel brings the storied history and exceptional service of The St. Regis to this vibrant area.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.marriott.com/hotels/travel/bomxr-the-st-regis-mumbai/"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

