<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo" [containerInside]="true">
    <mdb-navbar-brand>
        <span class="text-primary font-weight-bold">
            Rent A Car with India Drive
        </span>
        <a class="navbar-brand" href="#">
            <img src="../../assets/images/rentacar.png" height="80" width="630" alt="">
        </a>
        <span class="text-primary font-weight-bold text-right">
            Book Online or call 1-234-567
        </span>
    </mdb-navbar-brand>
</mdb-navbar>