
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" [isControls]="true">
    <mdb-carousel-item>
        <div class=" ">
      <img class="" src="../../assets/images/car-rental-2.jpg" height="450px" width="700px" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
        <h3 class="h3-responsive">Republic Day Sale</h3>
        <p>Get upto 30% off on Car Bookings...</p>
      </div>    
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class=" ">
      <img class="" src="../../assets/images/car-seller-hand-giving-key-2.webp" height="450px" width="700px" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
        <h3 class="h3-responsive">Special Discount on VISA cards</h3>
        <p>Get 5% unlimited cashback on payment with VISA cards...</p>
      </div>
    </mdb-carousel-item>

    <mdb-carousel-item>
        <div class=" ">
      <img class="" src="../../assets/images/car-rental-4.jpeg" height="450px" width="700px" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
        <h3 class="h3-responsive">5 Days Free</h3>
        <p>Book for a month and get 5 days complimentary...</p>
      </div>
    </mdb-carousel-item>
