

<div class="grid-container">
    <div class="L">
        <app-member-login (Directlogin)="Directlogin($event)"></app-member-login>
    </div>
    <div class="B">
        <app-booking-details [homepage]="this.comp1" [locationdata]="this.comp2" [carcatgory]="this.comp3" [addonsum]="this.comp4" [addonstring]="this.comp5" ></app-booking-details>
    </div>
   
    <div class="Form">
        <h3>Login or Register Yourself here !!</h3><br>
        <form [formGroup]="memberForm" (ngSubmit)="ContinueBooking()">

            <div  class="onerow">
                <label>Renter's Name : </label>
                <input type="text" formControlName="First_Name" 
                    placeholder="Enter your first name">&nbsp;&nbsp;&nbsp;
                  
                <input type="text" formControlName="Last_Name" 
                    placeholder="Enter your last name">
            </div>
            <br>
            <div class="onerow">
                <label for="Address1">Address :</label>
                <input type="text" formControlName="Address1" 
                    placeholder="Enter your native address">&nbsp;&nbsp;&nbsp;
            
                <label for="EmailId">EmailId :</label>
                <input type="text" formControlName="EmailId" >

            </div>
            <hr>
            <div class="onerow">
                <label for="City">City : </label>
                <input type="text" formControlName="City">  &nbsp;&nbsp;&nbsp;   
         
                <label for="Cell">  Cell : </label>
                <input type="text" formControlName="Cell" >
            </div><br><br>
            <div class="onerow">
                <label for="CreditcardType">CreditcardType : </label>
                <input type="text" formControlName="CreditcardType" >&nbsp;&nbsp;&nbsp;
            
                <label for="CreditCard_Number">CreditCard_Number : </label>
                <input type="number" formControlName="CreditCard_Number" >
            </div><br><br>
            <div class="onerow">
                <label for="DrivingLiscen_Number">DrivingLiscen_Number : </label>
                <input type="number" formControlName="DrivingLiscen_Number" >&nbsp;&nbsp;&nbsp;
            
                <label for="ValidThrouh"> ValidThrouh : </label>
                <input type="text" formControlName="ValidThrouh" >
            </div><br><br>
            <div class="onerow">
                <label for="Passport_Number">Passport_Number : </label>
                <input type="number" formControlName="Passport_Number" name="Passport_Number">&nbsp;&nbsp;&nbsp;
            
                <label for="Passport_Valid">Passport_Valid : </label>
                <input type="text" formControlName="Passport_Valid" >
            </div><br><br>
            
            <button type="submit">Continue Booking :</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button [routerLink]="['rentalAddOn']">Cancel</button>
        </form>
    </div>
</div>