<div class="grid-container">
    <div class="L">
        <app-member-login (Directlogin)="Directlogin($event)"></app-member-login>
    </div>
    <div class="B">
        <app-booking-details [homepage]="this.comp1" [locationdata]="this.comp2" [carcatgory]="this.comp3"
            [addonsum]="this.comp4" [addonstring]="this.comp5"></app-booking-details>
    </div>

    <div class="Form">
        <h3 class="text-warning">Register Yourself here !!</h3><br>
        <form [formGroup]="memberForm" (ngSubmit)="ContinueBooking()" novalidate class="form-group">

            <div class="onerow">
                <label>Renter's Name : </label>

                <input class="form-control" type="text" name="First_Name" formControlName="First_Name"
                    placeholder="Enter your first name">&nbsp;&nbsp;&nbsp;
                    <span *ngIf="memberForm.get('First_Name').touched && memberForm.get('First_Name').hasError('required')">Enter Last name</span>

                <input class="form-control" type="text" formControlName="Last_Name" placeholder="Enter your last name">
                <span *ngIf="memberForm.get('Last_Name').touched && memberForm.get('Last_Name').hasError('required')">Enter First name</span>
            </div>
            <!-- <br> -->
            <div class="onerow">
                <label for="Address1">Address :</label>
                <input class="form-control" type="text" formControlName="Address1" placeholder="Enter your native address">
                <!-- &nbsp;&nbsp;&nbsp; -->
                <span *ngIf="memberForm.get('Address1').touched && memberForm.get('Address1').hasError('required')">Enter Address</span>
                <label for="EmailId">EmailId :</label>
                <input class="form-control" type="email" placeholder="Please enter your primary email address" formControlName="EmailId">
                <span *ngIf="memberForm.get('EmailId').touched && memberForm.get('EmailId').hasError('required')">Enter email Address</span>
                <span *ngIf="memberForm.get('EmailId').touched && memberForm.get('EmailId').hasError('email')">Enter Valid email Address</span>

            </div>
            <!-- <hr> -->
            <div class="onerow">
                <label for="City">City : </label>
                <input class="form-control" type="text" placeholder="Please enter city you belong to" formControlName="City"> 
                <!-- &nbsp;&nbsp;&nbsp; -->
                <span *ngIf="memberForm.get('EmailId').touched && memberForm.get('City').hasError('City')">Enter city</span>
                <label for="Cell"> Mobile Number : </label>
                <input class="form-control" type="text" placeholder="Please enter your primary mobile number" formControlName="Cell">
                <small id="mobileHelp" class="form-text text-muted">We'll never share your mobile number with anyone else.</small>
                <span *ngIf="memberForm.get('Cell').touched && memberForm.get('Cell').hasError('required')">Enter Cell no. </span>
            </div>
            <br>
            <!-- <br> -->
            <div class="onerow">
                <label for="CreditcardType">Creditcard Type :</label>
                <input class="form-control" type="text" placeholder="VISA, MasterCard, RuPay, etc.." formControlName="CreditcardType">
                <span *ngIf="memberForm.get('CreditcardType').touched && memberForm.get('CreditcardType').hasError('required')">Enter CreditcardType</span>
                
                <label for="CreditCard_Number">CreditCard Number : </label>
                <input class="form-control" type="number" placeholder="Please enter your Credit Card Number" formControlName="CreditCard_Number">
                <small id="creditcardHelp" class="form-text text-muted">We'll never share your card details with anyone else.</small>
                <!-- &nbsp;&nbsp;&nbsp; -->
                <br>
                <span *ngIf="memberForm.get('CreditCard_Number').touched && memberForm.get('CreditCard_Number').hasError('required')">Enter CreditCard Number</span>
            </div>
            <!-- <br> -->
            <div class="onerow">
                <label for="DrivingLiscen_Number">Driving License Number :</label>
                <input class="form-control" type="number" placeholder="AA-12-1234-1234567" formControlName="DrivingLiscen_Number">
                <!-- &nbsp;&nbsp;&nbsp; -->
                <span *ngIf="memberForm.get('DrivingLiscen_Number').touched && memberForm.get('DrivingLiscen_Number').hasError('required')">Enter DrivingLiscen_Number Number</span>
                <label for="ValidThrouh"> Valid Till : </label>
                <input class="form-control" type="text" placeholder="Till when is your License Valid" formControlName="ValidThrouh">
                <span *ngIf="memberForm.get('ValidThrouh').touched && memberForm.get('ValidThrouh').hasError('required')">Enter valid through date</span>
            </div>
            <!-- <br><br> -->
            <div class="onerow">
                <label for="Passport_Number">Passport Number : </label>
                <input class="form-control" type="number" placeholder="Please enter your passport number" formControlName="Passport_Number" name="Passport_Number">
                <!-- &nbsp;&nbsp;&nbsp; -->
                <span *ngIf="memberForm.get('Passport_Number').touched && memberForm.get('Passport_Number').hasError('required')">Enter passport number </span>
                <label for="Passport_Valid">Passport Valid Till: </label>
                <input class="form-control" type="text" placeholder="Till when is your password valid" formControlName="Passport_Valid">
                <span *ngIf="memberForm.get('Passport_Valid').touched && memberForm.get('Passport_Valid').hasError('required')">Enter Passport Validation date </span>
            </div>
            <!-- <br -->
            <br>
            
            <button class="btn btn-primary" type="submit">Continue Booking</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-danger" [routerLink]="['rentalAddOn']">Cancel</button>
        </form>
    </div>
</div>