.grid-container {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 0.7fr 1.3fr;
  gap: 7px 10px;
  grid-template-areas:
    "L Form"
    "B Form";
}
.L { grid-area: L; }
.B { grid-area: B; }
.Form { grid-area: Form; }