<div class="container mx-auto">
    <div class="row">
      <div class="col-sm">
        <h3 class="text-warning"> Trip Details </h3>
        <ul class="list-group">
            <li class="list-group-item">Pick Up Date: {{comp1.range.start | date:'dd/MM/yyyy'}}</li>
    
    
            <li class="list-group-item">Return Date: {{comp1.range.end | date:'dd/MM/yyyy'}}</li>
</ul>

<br>
    <h3 class="text-warning"> Hub Details </h3>

        <ul class="list-group">
        <li class="list-group-item">Hub Name : {{comp2.hubName}} </li>
        <li class="list-group-item"><i class="fa fa-home" aria-hidden="true"></i> Hub Address: {{comp2.address}} </li>
        <li class="list-group-item"><i class="fa fa-mobile" aria-hidden="true"></i> Hub Contact : {{comp2.contactNumber}} </li>
    </ul>
      </div>
      <div class="col-sm">
        <h3 class="text-warning"> <i class="fa fa-car" aria-hidden="true"></i>Car Details </h3>
        <ul class="list-group">
    <li class="list-group-item">Car Category : {{comp3.categoryName}} </li>
    <li class="list-group-item">Daily Rates : {{comp3.dailyRates | currency:"INR"}} </li>
    <li class="list-group-item">Weekly Rates : {{comp3.weeklyRates | currency:"INR"}} </li>
    <li class="list-group-item">Monthly Rates : {{comp3.monthlyRates | currency:"INR"}} </li>
</ul>
      </div>
      <div class="col-sm">
        <h3 class="text-warning"> Customer Details </h3>
        <ul class="list-group">
            <li class="list-group-item">First Name : {{customer.first_name}}</li>
            <li class="list-group-item">Last name : {{customer.last_name}}</li>
            <li class="list-group-item"> Address : {{customer.address}}</li>
            <li class="list-group-item"> Email Id : {{customer.emailId}}</li>
            <li class="list-group-item"> City : {{customer.city}}</li>
            <li class="list-group-item"> Mobile no : {{customer.cellNo}}</li>
            <!-- <li class="list-group-item"> Credit card type: {{customer.creditcardType }}</li> -->
            <!-- <li class="list-group-item">Credit card number : {{customer.creditcard_Number}}</li> -->
            <li class="list-group-item">Driving license number : {{customer.drivingLiscen_Number}}</li>
            <!-- <li class="list-group-item"> Valid through : {{customer.validThrough}}</li> -->
            <!-- <li class="list-group-item">passport Number: {{customer.passport_Number}}</li> -->
            <!-- <li class="list-group-item"> Passport Valid upto:{{customer.passport_valid}}</li> -->
        </ul>
    
    
      </div>
    </div>
  </div>



<br>


  <button class="btn btn-success" (click)="confirm()" >Confirm</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button class="btn btn-warning" [routerLink]="['/home']">Modify</button>

  <br/><br>
  
  <!-- </table> -->
  