<div  class="onerow">
    <h3 class="text-warning"> Trip Details </h3>
    Pick Up Date: {{comp1.range.start | date:'dd/MM/yyyy'}}
    <br/>
    Return Date: {{comp1.range.end | date:'dd/MM/yyyy'}}
</div>

<div  class="onerow">
    <h3 class="text-warning"> Hub Details </h3>
    <br>
    Hub Name : {{comp2.hubName}} <br/>
    <i class="fa fa-home" aria-hidden="true"></i> Hub Address: {{comp2.address}} <br/>
    <i class="fa fa-mobile" aria-hidden="true"></i> Hub Contact : {{comp2.contactNumber}} <br/>
</div>

<div  class="onerow">
    <h3 class="text-warning"> <i class="fa fa-car" aria-hidden="true"></i>Car Details </h3>
    <br>
    Car Category : {{comp3.categoryName}} <br/>
    Daily Rates : {{comp3.dailyRates | currency:"INR"}} <br/>
    Weekly Rates : {{comp3.weeklyRates | currency:"INR"}} <br/>
    Monthly Rates : {{comp3.monthlyRates | currency:"INR"}} <br/>
</div>


<br>
<table *ngIf=customer>
    
    <tr>First Name:<td>{{customer.first_name}}</td></tr> 
    <tr>Last name:<td>{{customer.last_name}}</td></tr> 
    <tr> Adress :<td>{{customer.address}}</td></tr> 
    <tr> Email Id:<td>{{customer.emailId}}</td></tr> 
    <tr> City:<td>{{customer.city}}</td></tr> 
    <tr> Cell no :<td>{{customer.cellNo}}</td></tr> 
    <tr> Credit card type: <td>{{customer.creditcardType}}</td></tr> 
    <tr>Credit card number : <td>{{customer.creditcard_Number}}</td></tr> 
    <tr>Driving liscen number: <td>{{customer.drivingLiscen_Number}}</td></tr> 
    <tr> Valid through : <td>{{customer.validThrough}}</td></tr> 
    <tr>passport Number: <td>{{customer.passport_Number}}</td></tr> 
    <tr> Passport Valid upto:<td>{{customer.passport_valid}}</td></tr> <br>

  <button   (click)="confirm()" >Confirm</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button [routerLink]="['/home']">Modify</button>
  
  </table>
  