
<!--<img src="../../assets/images/rentacar.png" height="200" width="00">-->

<h3>About India Drive</h3>
<br>
 
<b>Why choose us?</b><br>

-          If you want to book directly through a supplier, and not through a broker – choose <b>India Drive</b><br>

-          this will give you better flexibility in terms of vehicle choices;<br>

-          vehicle make and model will be confirmed, and not “similar” to those you selected;<br>

-          you can directly negotiate some of the terms and conditions, payment options, especially if you require unique or long term rental service;<br>

-          you can book “commission free”;<br>

-          you can reach us <font style="color:blue;">24/7</font> on our mobile numbers;<br>

-          you can call us free from the <font style="color:blue;">“Free call”</font> service on our website;<br><br>

 

We offer a varied fleet of cars, ranging from the compact Toyota Yaris to the 8-seater VW Multivan. All our vehicles have air conditioning,  power steering, electric windows. All our vehicles are bought and maintained at official dealerships only. Automatic transmission cars are available in every booking class.<br>

 

We pride ourselves on personalized service, great cars and excellent rates.