<h2 class="text-warning">Your bookings</h2>

<ul class="list-group">

    <li class="list-group-item">Pick up : {{homepage.range.start | date: 'dd/MM/yyyy'}}</li>
        <li class="list-group-item">Pick up at: {{locationdata.hubName}}</li>
<div *ngIf="homepage.toCity==null; else elseblock">
    <li class="list-group-item">Return : {{locationdata.hubName}}</li>
</div>
<ng-template #elseblock>
    <li class="list-group-item">Return : {{homepage.toCity}}</li>
</ng-template>

<li class="list-group-item">Return at : {{homepage.range.end | date: 'dd/MM/yyyy'}}</li>

<a class="btn btn-primary" [routerLink]="['/home']"  >Modify</a><br>
</ul>
<ul class="list-group">

<li class="list-group-item">Vehicle selection : {{carcatgory.categoryName}}</li>
<a class="btn btn-primary " [routerLink]="['/carcategory']" >Modify</a><br>
</ul>
<ul class="list-group">
<li class="list-group-item">Rental Ad-On :{{addonstring}}</li>


<a class="btn btn-primary" [routerLink]="['/addOn']" >Modify</a><br>


</ul>