<h2 class="text-warning">Your bookings</h2>

Pick up : {{homepage.range.start | date: 'dd/MM/yyyy'}}<br>
Pick up at: {{locationdata.hubName}}<br>
<div *ngIf="homepage.toCity==null; else elseblock">
Return : {{locationdata.hubName}}<br>
</div>
<ng-template #elseblock>
Return : {{homepage.toCity}}
</ng-template>

Return at : {{homepage.range.end | date: 'dd/MM/yyyy'}}<br>

<a class="btn btn-link" [routerLink]="['/home']"  >Modify</a><br>


Vehicle selection : {{carcatgory.categoryName}}
<a class="btn btn-link " [routerLink]="['/carCategory']" >Modify</a><br>

    Rental Ad-On :{{addonstring}}


<a class="btn btn-link" [routerLink]="['/addOn']" >Modify</a><br>


