
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">





<div class="navbar">
  <a href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#joinus">Join Us</a>
  
</div>




    <img src="../../assets/images/career.png" height="200" width="1110">
  
     

    <h1 style="text-align: center;">Our Mission</h1>
<p class='vision-text'>
India is urbanizing at a faster rate than any country in human history. As crores of individuals migrate to cities over the next decade, it will be imperative to create sustainable mobility solutions for people to get around their city.
<br>
<br>
Enter India Drive. We exist for a simple reason: we want to drive India's transformation to sustainable transportation. Unlike other providers, India Drive is laser focused on creating self-drive solutions for the current mobility predicament. It's still early days and while the road before us will certainly have many twists and turns, the sustainable light at the end of the tunnel is what motivates us day in, day out.
<br>
<br>
With an intense focus on creating a world class user experience through technology, data science, and product,India Drive is determined to lead this revolution from the front.  We're looking for similar mission driven individuals to join us on this self-driven quest.  We look forward to hearing from you!
<br>
</p>


<h1 style="text-align: center;">Work with us</h1>

  
  
  
  <table class="tab" align="center" border="12px" >
    <tr>
      <th>Role</th>
      <th>Department</th> 
      <th>Location</th>
    </tr>
    <tr>
      <td>Senior Software Engineer – Frontend Development</td>
      <td>Engineering</td>
      <td>Pune</td>
    </tr>
    <tr>
      <td>Product Managers</td>
      <td>Product</td>
      <td>Mumbai</td>
    </tr>
    <tr>
      <td>Maintainance supervisor</td>
      <td>Engineering</td>
      <td>Banglore</td>
    </tr>
  </table>
  <br>
  <h1 >For your bright future kindly upload your resume at our link!!!!</h1>
  
  
