

<link  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  >






<div class="container">        
  <table class="table table-striped">
    <thead>
        <tr>
            <th>Car class</th>
            <th>Car type</th>
            <th>Daily</th>
            <th>Weakly</th>
            <th>Monthly</th>
            <th></th>
          </tr>
    </thead>
    <tbody *ngFor='let c of carcatgry'>
        <tr id="{{c.categorayId}}">
            <td><img src="{{c.imagePath}}" width="60" height="40" ></td>
            <td>{{c.categoryName}}</td>
            <td>₹{{c.dailyRates}}</td>
            <td>₹{{c.weaklyRates}}</td>
            <td>₹{{c.monthlyRates}}</td>
            <td><button (click)="CarSelected(c)" class="btn btn-outline-primary">select</button></td>
            </tr>
    </tbody>
  </table>
</div>
  <div align='center'>
<button name="cancle" onclick="" class="btn btn-outline-danger" font='black'>Cancle</button>
</div>
