<link  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  >

<div class="container">        
  <table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Car class</th>
            <th>Car type</th>
            <th>Daily</th>
            <th>Weekly</th>
            <th>Monthly</th>
            <th></th>
          </tr>
    </thead>
    <tbody *ngFor='let c of carcatgry'>
        <tr id="{{c.categorayId}}">
            <td><img src="{{c.imagePath}}" width="60" height="40" ></td>
            <td>{{c.categoryName }}</td>
            <td>{{c.dailyRates | currency:'INR'}}</td>
            <td>{{c.weeklyRates | currency:'INR'}}</td>
            <td>{{c.monthlyRates | currency:'INR'}}</td>
            <td><button (click)="CarSelected(c)" class="btn btn-outline-primary">Select</button></td>
            </tr>
    </tbody>
  </table>
</div>
  <div align='center'>
<button name="cancel" class="btn btn-outline-danger" (click)="goBack()" font='black'>Cancel</button>
</div>
<br>
